 
 <br/>
 <br/>
 <br/>
 <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Simple Table</h4>
              <p class="card-category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th> Name </th>
                    <th>Mobile Number </th>
                    <th>Email </th>
                    <th>Number of Guests</th>
                    <th>Date Of Arrival </th>
                    <th>Time</th>
                    <th>Additional Information (Optional) </th>
                    <th></th>
                    <th></th>

                  </thead>


                  <tbody>
                    <tr  *ngFor="let customer of customers" >
                      <th scope="row">{{customer.name}}</th>
                      <td>{{customer.mobilenumber}}</td>
                      <td>{{customer.email}}</td>
                      <td>{{customer.number}}</td>
                      <td>{{customer.date}}</td>
                      <td>{{customer.time}}</td>
                      <td>{{customer.desc}}</td>
                      <td><button class="btn btn-primary" routerLink="/admin/table-edit/{customer.}">Edit</button></td>
                      <td><button class="btn btn-primary"  (click)="removeItem(customer.id)">Delete</button></td>
                    </tr>
                   
                   
                  </tbody>
                 
                </table>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

