	<!-- services -->
	<div class="services" id="services">
			<div class="container">
				<div class="ser-top wthree-3 wow fadeInDown w3-service-head">
					<h3>Our Services </h3>
				</div>
				<div class="w3-service-grids set-6">
					<div class="col-md-4  services-w3-grid1 ser-left icon1 hi-icon-wrap hi-icon-effect-6">
						<i class="fa fa-cutlery hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Breakfast</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin  vestibulum velit.Lorem ipsum ultricies vestibulum velit adipisc elit Proin.</p>
					</div>
					<div class="col-md-4  services-w3-grid1 ser-left icon2 hi-icon-wrap hi-icon-effect-6">
						<i class="fa fa-spoon hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Lunch</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum Lorem ipsum velit vestibulum velit adipisc elit Proin.</p>
					</div>
					<div class="col-md-4 services-w3-grid1 ser-left icon3 hi-icon-wrap hi-icon-effect-6">
						<i class="fa fa-glass hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Dinner</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum Lorem ipsum velit vestibulum velit adipisc elit Proin.</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-3 services-w3-grid2 ser-left icon4 hi-icon-wrap hi-icon-effect-6">
						<i class="fa fa-apple hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Supper food </h4>
						<p>Lorem ipsum dolor sit amet adipisc elit. Proin ultricies vestibulum Loremipsum velit.</p>
					</div>
					<div class="col-md-3 services-w3-grid2 ser-left icon5 hi-icon-wrap hi-icon-effect-6">
						<i class="fa fa-glass hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Pasta ravioli</h4>
						<p>Lorem ipsum dolor sit amet adipisc elit. Proin ultricies vestibulum velitLorem ipsum.</p>
					</div>
					<div class="col-md-3 services-w3-grid2 ser-left icon6 hi-icon-wrap hi-icon-effect-6"  data-wow-duration=".8s" data-wow-delay=".2s">
						<i class="fa fa-leaf hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>Salads & Desserts</h4>
						<p>Lorem ipsum dolor sit amet adipisc elit. Proin ultricies vestibulum velitdolor sit.</p>
					</div>
					<div class="col-md-3 services-w3-grid2 ser-left icon6 hi-icon-wrap hi-icon-effect-6"  data-wow-duration=".8s" data-wow-delay=".2s">
						<i class="fa fa-gift hi-icon hi-icon-sort-by-attributes" aria-hidden="true"></i>
						<h4>daily presents</h4>
						<p>Lorem ipsum dolor sit amet adipisc elit. Proin ultricies vestibulum velitdolor sit.</p>
					</div>
					<div class="clearfix"></div>
				</div>	
			</div>
	</div>
	<!-- /services -->