<br/>
<br/>
<br/>

<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary"  >
              <h4 class="card-title" >Edit Table</h4>
              <p class="card-category">Complete your Table</p>
            </div>
            <div class="card-body"  >
             
              <form  >
                
            
                                     <div class="row" >
                        <div class="col-md-12">
                          <div class="form-group" >
                            <label class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control"   name="name "[(ngModel)]="customer.name"/>
                            
                          </div>
                        </div>
                      </div>
                 
                
                
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Mobile Number</label>
                        <input type="text" class="form-control" [(ngModel)]="customer.mobilenumber"/>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input type="text" class="form-control"     [(ngModel)]="customer.email"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Number of Guests</label>
                      <input type="text" class="form-control"  [(ngModel)]="customer.number"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Date of Arrival</label>
                      <input type="text" class="form-control"  [(ngModel)]="customer.date"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Time</label>
                      <input type="text" class="form-control"  [(ngModel)]="customer.time"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Additional Information(Optional)</label>
                        <input type="text" class="form-control"  [(ngModel)]="customer.desc"/>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>About Me</label>
                      <div class="form-group">
                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                        <textarea class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              
                <button type="submit" class="btn btn-primary pull-right" (click)="updateCustomer()">Update Profile</button>
                <div class="clearfix"></div>
              
              </form>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img" src="https://i.pinimg.com/474x/53/0e/13/530e13d00ba7276d0b6b1a5ac49538db.jpg" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">CEO / Co-Founder</h6>
              <h4 class="card-title">Alec Thompson</h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="javascript:;" class="btn btn-primary btn-round">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 